* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  word-break: break-all;
  overflow-wrap: break-word;
  overflow:auto;
  -ms-overflow-style: none; 
}



html,body {
  height:100%; 
  width:100%;
}

body {
  background:#eee;
}

header {
  background:rgb(139,121,124);
  height:20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color:#fff;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: normal;
}

.default {
  height: 50%;
  width: 100%;
}

.default::-webkit-scrollbar {
  display: none;
}

.container {
  width:90%;
  margin:0 auto;
}

form {
  text-align: center;
}

form input[type="text"] {
  width:100%;
  font-size:18px;
  line-height: 1.5;
  margin:30px auto ; 
  padding:4px 8px;
}

.container input[type="submit"] {
  display: none;
}

.container input[type="text"]::placeholder {
  font-size:12px;
}

.container ul {
  display: flex;
  flex-direction: column-reverse;
}

.container ul li {
  display: flex;
  margin-bottom:5px;  
  letter-spacing: 2px;
}

.container ul li p {
  display: inline-block;
  flex:1;
  margin-right:10px;
}

.bottom {
  height:30%;
  display: flex;
  flex-direction: column;
}

footer {
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  line-height:2; 
  color:gray;
}

.buttons {
  width:90%; 
  margin:0 auto;
  flex:1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width:129.6px;
  height:72.9px;
  line-height:72.9px;
  text-align: center;
  background:rgba(250, 147, 147, 0.8);
  font-weight:bold;
  letter-spacing: 3px;
  color:#fff;
  border-radius:4px;
  box-shadow: 0 1px 1px rgba(253, 115, 115, 0.8);
}

#result {
  height:50%;
  width:100%;
}

#result p {
  font-size:20px;
  letter-spacing: 5px;
}

#result.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default.hide {
  display: none;
}

#start.hide {
  display: none;
}

#stop,
#reload,
#three,
#result {
  display: none;
}

#stop.show,
#reload.show,
#three.show {
  display: block;
}

@media (min-width:600px) {
  .container {
    width:35%;
  }

  .container form input[type="text"] {
    margin:45px auto;
  }

  .container input[type="text"]::placeholder {
    font-size:15px;
  }

  .container ul li {
    font-size:18px; 
    margin-bottom:10px;
  }

  .buttons {
    width:35%;
  }

  footer p {
    line-height:3; 
  }

  #result p {
    font-size:30px;
  }
}

@media (min-width:1025px) {

  header h1 {
    font-size: 50px;
  }

  .container form input[type="text"] {
    margin:50px auto;
  }

  .container input[type="text"]::placeholder {
    font-size:18px;
  }
}