* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html {
  height:100%;
}

body {
  width:100%;
  height:100%;
}

.container {
  width:100%;
}

header {
  height:29%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  letter-spacing: 2px;
  font-weight:normal;
  font-size:40px;
}

form {
  width:100%;
  text-align: center;
  margin-bottom:30px;
}

form input[type="text"] {
  width:288px;
  padding:8px 8px;
}

form input[type="submit"] {
  display: none;
}

.container ul {
  width:288px;
  margin:0 auto;
  display: flex;
  flex-direction: column-reverse;
}


.container ul {
  list-style: none;
  background:lime;
}

.container ul li {
  background:tomato;
  display: flex;
  justify-content: space-between;
}

.container ul li p {
  display: inline-block;
  vertical-align: bottom;
}

.container ul li span {
  font-size:16px;
  display: inline-flex;
  vertical-align:middle;
}

#start , #three {
  background:rgba(255, 144, 144,.7);
  width:120px;
  font-size:15px;
  letter-spacing: 2px;
  box-shadow: 0 1px 1px rgba(255, 100, 100,1);
  color:#fff;
  font-weight:bold;
  height:50px;
  line-height: 50px;
  border-radius:4px;
  text-align: center;
}

#start:hover,
#three:hover {
  opacity:0.8;
}

#stop,
#reload,
#three,
#result {
  display:none;
}

#three {
  display: block;
}

.top {
  height:70%;
  width:100%;
  background:cyan;
}

.bottom{
  height:30%;
  width:100%;
  background:yellow;
}

.bottom > section {
  height:100%;
  width:288px;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  width:100%;
  padding:8px 0;
  position:absolute;
  bottom:0;
}

footer p {
  text-align: center;
}